/*
COLORS
Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .search__input {
    /* Positionning */
    /* Display and box */
    width: 90%;
    margin-right: -3rem;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 4rem;
    /* Color */
    background-color: var(--color-grey-light-2);
    color: inherit;
    /* Text */
    font-family: inherit;
    font-style: inherit;
    /* Other */
    transition: all 0.4s; }
    .search__input:focus {
      /* Positionning */
      /* Display and box model */
      width: 100%;
      /* Color */
      background-color: var(--color-grey-light-3);
      /* Text */
      outline: none;
      /* Other */ }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch; }
  .user-nav > * {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0rem 1.3rem; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2);
      cursor: pointer; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    position: absolute;
    top: 1.9rem;
    right: 0.6rem;
    border-radius: 50%;
    height: 1.45rem;
    width: 1.45rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 0.8rem; }
  .user-nav__photo {
    margin-right: 1rem;
    height: 3.75rem;
    border-radius: 50%; }
  .user-nav__user-name {
    font-size: 1.2rem;
    font-weight: 600; }

.sidenav {
  margin-top: 3rem; }
  .sidenav__navigation-item {
    transition: all 0.5s;
    list-style: none; }
    .sidenav__navigation-item:nth-of-type(1) {
      background-color: var(--color-primary); }
    .sidenav__navigation-item:active, .sidenav__navigation-item:hover {
      background-color: var(--color-primary); }
  .sidenav__link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    text-decoration: none; }
  .sidenav__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    fill: var(--color-white); }
  .sidenav__text {
    color: var(--color-white);
    font-size: 1rem;
    text-transform: uppercase; }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); }

.header {
  height: 7rem;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: 1;
  background-color: red; }
