.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;

  background-color: var(--color-grey-light-2);

  box-shadow: var(--shadow-dark);
}

.header {
  height: 7rem;
  border-bottom: var(--color-grey-light-2);
  
  @include flex(row, space-between, center);
  background-color: var(--color-white);
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;
  @include flex(column, space-between, stretch);

  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: red;
}
