@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin transitionAll($duration) {
  transition: all $duration;
}

@mixin transition($property, $duration, $delay) {
  transition: $property $duration $delay;
}